@using Microsoft.Extensions.Configuration;
@using remotestorage.Models;
@using Microsoft.AspNetCore.Authorization
@inject IHttpClientFactory HttpFactory

@page "/images"


@rendermode InteractiveServer

<div class="gallery">
    @foreach (var image in Images)
    {
        string url = $"{ApiBaseUrl}{image.url}";
        string imageHref = $"/image/{image.url}";
        <a href = "@imageHref" >
            <img src="@(url)" alt="@image.name" class="photo" />
        </a>
    }
</div>

@code {
    private List<Image> Images = new();
    private string ApiInternalUrl = string.Empty;
    private string ApiBaseUrl = string.Empty;

    [Inject] public HttpClient Http { get; set; } = default!;
    [Inject] public IConfiguration Configuration { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        ApiInternalUrl = Environment.GetEnvironmentVariable("API_DOCKER_URL") ?? Configuration.GetValue<string>("API_BASE_URL");
        Http.BaseAddress = new Uri(ApiInternalUrl);

        ApiBaseUrl = Environment.GetEnvironmentVariable("API_BASE_URL") ?? Configuration.GetValue<string>("API_BASE_URL");

        await LoadImages();
    }

    private async Task LoadImages()
    {
        try
        {
            HttpClient client = HttpFactory.CreateClient("API");            
            
            Images = await client.GetFromJsonAsync<List<Image>>("image")
            ?? new List<Image>();
            
            Console.WriteLine($"Loaded {Images.Count} images.");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error loading images: {ex.Message}");
            Images = new List<Image>();
        }
    }

    private async Task DeleteImage(int id)
    {
        Console.WriteLine($"Delete clicked for image {id}");

        try
        {
            var response = await Http.DeleteAsync($"image/{id}");

            if (response.IsSuccessStatusCode)
            {
                var img = Images.FirstOrDefault(i => i.id == id);
                if (img != null)
                {
                    Images.Remove(img);
                    StateHasChanged();
                }

                Console.WriteLine($"Image {id} deleted successfully.");
            }
            else
            {
                Console.WriteLine($"Failed to delete image {id}: {response.StatusCode}");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error deleting image {id}: {ex.Message}");
        }
    }

    bool HasToggledAddImage = false;
    public void ToggleAddImage()
    {
        HasToggledAddImage = !HasToggledAddImage;
    }

}