@using Microsoft.AspNetCore.Authorization;
@using System.Reflection.Metadata
@using remotestorage.Components.Layout
@using remotestorage.Models

@attribute [Authorize]

@layout MainLayout
@rendermode InteractiveServer

@page "/"

<PageTitle>Home</PageTitle>

<div class="layout">
    <div class="page">
        <div class="left-side">
            <h1>Welcome back</h1>
            <h3>Your photos are waiting for you — just a click away!</h3>
        </div>

        <div class="right-side">
            <p>Enter your gallery!</p>
        </div>
    </div>
</div>