@page "/"

<div class = "page">
    <PageTitle>Home</PageTitle>

    <h1>Hello, world!</h1>

    Welcome to your new app.

    I wanted to modify this on the dev branch on a secondary computer. Wonder what will happen?
</div>