@page "/image/{*Url}"
@using remotestorage.Models
@rendermode InteractiveServer

<h3>Image Viewer</h3>

@if (!string.IsNullOrEmpty(ImageUrl))
{
    <img src="@ImageUrl" alt="Image" class="photo" />
    <p>The ImageUrl is : @ImageUrl</p>
}
else
{
    <p>Image not found.</p>
}

@code {
    [Parameter]
    public string? Url { get; set; }

    private string ImageUrl = string.Empty;
    private string ApiBaseUrl = string.Empty;

    [Inject] public IConfiguration Configuration { get; set; } = default!;

    protected override void OnInitialized()
    {
        ApiBaseUrl = Environment.GetEnvironmentVariable("API_BASE_URL") ?? Configuration.GetValue<string>("API_BASE_URL");

        if (!string.IsNullOrEmpty(Url))
        {
            // Construct the full image URL
            ImageUrl = $"{ApiBaseUrl}{Url}?mode=lossless";
        }
        else
        {
            Console.WriteLine("No image URL provided.");
        }
    }
}