@page "/image"
@inject UIState UI

<h1>Hello!</h1>



<style>

    h1 {
        text-align: center;
        font-size: 5rem;
    }

</style>

@code {
    protected override void OnInitialized()
    {
        UI.ShowNavbar = false; 
    }
}