version: '3.9'

services:
  api:
    build:
      context: ./remotestorage-api
      dockerfile: Dockerfile
    container_name: remotestorage-api
    ports:
      - "5050:5050"
    depends_on:
      - database
    environment:
      - IMAGE_DIR=/remotestorage-images
      - FALLBACK_IMAGE_DIR=/home/guilherme/.remotestorage-images
    volumes:
      - /home/guilherme/.remotestorage-images:/remotestorage-images
  frontend:
    build:
      context: ./remotestorage
      dockerfile: Dockerfile
    container_name: remotestorage-frontend
    ports:
      - "8080:8080"
    depends_on:
      - api
  database:
    build:
      context: ./remotestorage-db
      dockerfile: Dockerfile
    container_name: database
    ports:
      - "6060:5432"
    volumes: 
      - database-data:/var/lib/postgresql/data
volumes:
  database-data: