version: '3.9'

services:
  api:
    build:
      context: ./remotestorage-api
      dockerfile: Dockerfile
    container_name: remotestorage-api
    ports:
      - "5050:5050"
    environment:
      - DOTNET_ENVIRONMENT=Development

  frontend:
    build:
      context: ./remotestorage
      dockerfile: Dockerfile
    container_name: remotestorage-frontend
    ports:
      - "8080:8080"
    environment:
      - API_BASE_URL=http://remotestorage-api:5050
    depends_on:
      - api
