@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <CascadingAuthenticationState>
            <AuthorizeRouteView RouteData="@routeData"
                                DefaultLayout="@typeof(Layout.MainLayout)">
                <NotAuthorized>
                    <RedirectToLogin />
                </NotAuthorized>

                <Authorizing>
                    <div class="p-4 text-center">
                        <p>Authenticating...</p>
                    </div>
                </Authorizing>
            </AuthorizeRouteView>
        </CascadingAuthenticationState>
    </Found>

    <NotFound>
        <remotestorage.Components.Pages.NotFoundPage />
    </NotFound>
</Router>
