.page {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 2rem; 
    background-color: var(--bs-white);
}

main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    background-color: var(--bs-white);
    justify-content: space-between;
    display: flex;
    align-items: center;

    padding-top: 40px;
    padding-bottom: 20px;

    border-bottom: 1.5px solid var(--bs-gray-300);
    border-radius: 10px;

}

    .top-row-logo {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1.5rem;

        img {
            height: 45px;   
            width: auto;
        }
    }


    .top-row-searchbar {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-right: 20px;
        
        border-radius: 20px;
        background-color: var(--bs-gray-400);

        padding: 10px 16px;     /* increases height */
        min-width: 200px;           /* fixed width OR remove for auto sizing */
        flex: 0.7;

        img {
                filter: invert(1) brightness(0);
        }

    }
        .top-row-searchbar input {
            flex: 1;
            border: none;
            background-color: transparent;

            &:focus {
                outline: none;
            }

           
        }
        
    .top-row-settings {
        display: flex;
        text-align: center;
        align-items: center;
        gap: 32px;


        button {
            background: none;
            border: none;
            padding: 0;
        }

        img {
            filter: invert(1) brightness(0);
            height: 32px;   
            width: auto;
            margin-left: 20px;
        }
    }

.content {
    flex: 1;
    display: flex;
    gap: 1.5rem;
}
.content-navbar {
    width: 200px; /* fixed width */
    height: 100vh; /* fill remaining height after header */
    color: white;
    padding: 20px;
    box-sizing: border-box;
}

/*
    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }
*/

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

/* Is that the desktop configuration? I think so. */

@media (min-width: 641px) { 
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

a {
    color: var(--bs-black);
    text-decoration: none;
}
label{
    color: var(--bs-black);
}

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
