@inherits LayoutComponentBase
@inject UIState UI // Dynamic UI Handling.

<div class="page">

    <main>
        <div class = "top-row">
            <div class = "top-row-logo">
                <img src="/images/logo.png" class = "logo-img"/>
                <span>GuiFotos™</span>
            </div>

            <div class="top-row-searchbar">
                <label for="search-input"><img src="/images/search.svg"/></label>
                <input type="text" placeholder="Search your photos" id ="search-input"/>

                <a href = "/">
                    <img src="/images/menu.svg"/>
                </a>
            </div>

            <div class="top-row-settings">
                <div>
                    <a href="/upload" id = "upload-button-id">
                        <img src="/images/upload.svg"/>
                    </a>
                    <label for="upload-button-id">Upload</label>
                </div>
            </div>
        </div>

        <div class="content">
            @if (UI.ShowNavbar)
            {
                <nav class = "content-navbar">
                    <NavMenu/>
                </nav>
            }
            @Body
        </div>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>



@code { 
    protected override void OnInitialized()
    {
        UI.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        UI.OnChange -= StateHasChanged;
    }
}