.nav-link {
    color: #ccc !important;
    font-size: 1rem;
    text-decoration: none !important;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0.5rem 1rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    transition: all 0.2s ease;
}

.nav-link:hover {
    color: #000 !important;
    background-color: #f0f0f0 !important;
}

.nav-link.active {
    color: #000 !important;
    background-color: #e6e6e6 !important;
}

.nav-link img {
    width: 20px;
    height: 20px;
    filter: invert(0%);
    transition: filter 0.2s ease;
}

.nav-link.active img {
    filter: invert(100%);
}
