

<div class = "nav-menu">
    <ul>
        <li>
            <a href="/images">
                <img src="/images/photo-library.svg" class = "svg-white-to-black"/>
                Photos
            </a>
        </li>
    </ul>
</div>